@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zc85qj');
  src:  url('fonts/icomoon.eot?zc85qj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zc85qj') format('truetype'),
    url('fonts/icomoon.woff?zc85qj') format('woff'),
    url('fonts/icomoon.svg?zc85qj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dropdown:before {
  content: "\e917";
}
.icon-checkbox:before {
  content: "\e918";
}
.icon-stena:before {
  content: "\e919";
}
.icon-cirkul:before {
  content: "\e91a";
}
.icon-phone2:before {
  content: "\e91b";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-badge:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-drop:before {
  content: "\e905";
}
.icon-drop-drop:before {
  content: "\e906";
}
.icon-ecology:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-eye:before {
  content: "\e909";
}
.icon-fire:before {
  content: "\e90a";
}
.icon-fundament:before {
  content: "\e90b";
}
.icon-house1:before {
  content: "\e90c";
}
.icon-house2:before {
  content: "\e90d";
}
.icon-infinity:before {
  content: "\e90e";
}
.icon-mute:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-point:before {
  content: "\e911";
}
.icon-roof:before {
  content: "\e912";
}
.icon-time:before {
  content: "\e913";
}
.icon-wall:before {
  content: "\e914";
}
.icon-wallet:before {
  content: "\e915";
}
.icon-zoom:before {
  content: "\e916";
}

