@mixin big-container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}

@mixin small-container {
  width: 100%;
  max-width: 1267px;
  margin: 0 auto;
}

@mixin clear-element {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
