$text-color: black;
$white: #ffffff;
$green: #82d15c;
$dark-green: #589d52;
$dark-blue: #262c96;
$light-blue: #565ccb;
$gray: #cbcbcb;
$light-gray: #e7e7e7;
$footer-color: #383838;
$nav-brown: #6b4d2f;
$background-gray: #eeeeee;
$card-border-color: #cacaca;
$card-body-gray: #f6f6f6;
$card-text-color: #b1b1b1;
$forms-blue: #595fce;
$form-label-color: #e0e0e0;
$white-footer: #fafafa;
$breadcrumbs-text-color: #a8a8a8;
$section-services-links-color: #f2f2f2;
$section-building-homes: #f7f7f7;
$navbar-color: #f2f2f2;
$news-date-color: #cccccc;
$list-of-news-section-color: #f4f4f4;
$thead-color: #d7d7d7;
$contacts-personal-info-color: #858585;
$contacts-phone-icon-color: #747474;
$galery-border-color: #d0d0d0;
$top-filters-color: #f2f2f5;

$buttons-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
$nav-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
$default-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
$card-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.11);

$font-black: 800;
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
