$white: #fff;
$footer-bg-color: #626d79;
$button-color: #ff4031;
$hovered-button-color: #d43629;
$reasons-item-bg-color: #eeeff1;
$counter-bg-color: #4f5d69;
$counter-border-color: #cad0d4;
$input-bg-color: #f0f0f0;
$comments-bg-color: #efeff2;

$form-header-bg-color: #535f6c;

$txt-color_1: #303b53;
$txt-color_2: #101010;
$txt-color_3: #4f555e;

$default-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);

$font-black: 800;
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;

$tablet-max: 1024px;
$tablet-min: 768px;
$phone-max: 480px;
