@import "./normalize.css";
@import "../assets/fonts/stylesheet.css";
@import "conf/variables";
@import "conf/mixins";

header {
  width: 100%;
  box-shadow: $default-box-shadow;

  nav {
    @include big-container;

    position: relative;
    height: 60px;
    background-color: $white;

    .main-logo {
      text-decoration: none;
      height: 60px;

      img {
        height: 100%;
      }
    }

    .btn-nav-order-call {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      font-family: 'pf_beausans_probold';
    }

    .nav-phone-block {
      right: 192px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .nav-phone-block-phone {
        font-size: 18px;
        font-family: 'pf_beausans_probold';
        font-weight: $font-bold;
        margin: 0 0 7px 0;
      }

      .nav-phone-block-city {
        font-size: 14px;
        font-family: 'pf_beausans_proregular';
        margin: 0;
      }
    }
  }
}

//==========================MAIN=================================
.section-main {
  width: 100%;
  background-image: url("../assets/img/main.jpg");
  background-size: cover;

  .section-main-container {
    @include big-container;

    height: 828px;
    position: relative;

    .main-info-block {
      width: 676px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      .main-title {
        font-family: 'pf_beausans_probold';
        color: $txt-color_1;
        font-size: 36px;
        text-align: center;
        margin: 0 0 60px 0;
      }

      .main-info-block-options {
        font-size: 0;
        text-align: justify;
        margin-bottom: 68px;

        &:after {
          content: '';
          display: inline-block;
          width: 100%;
        }

        .main-info-block-option {
          display: inline-block;
          width: 222px;
          height: 100px;

          .main-info-block-option-image {
            display: block;
            margin: 0 auto 12px auto;
          }

          .main-info-block-option-description {
            font-size: 18px;
            line-height: 25px;
            font-family: 'pf_beausans_proregular';
            color: $txt-color_1;
            text-align: center;
            margin: 0;
          }
        }
      }

      .main-info-block-feedback {
        width: 370px;
        margin: 0 auto;
        background-color: $white;
        box-shadow: $default-box-shadow;
        border-radius: 0 0 5px 5px;

        .main-info-block-feedback-title {
          font-size: 24px;
          line-height: 30px;
          font-family: 'pf_beausans_prosemibold';
          margin: 0;
          padding: 20px;
          color: $white;
          text-align: center;
          border-radius: 5px 5px 0 0;
          background-image: url("../assets/img/FormsBg.jpg");
        }

        form {
          padding: 35px 48px 40px 48px;

          .form-group {
            margin-bottom: 25px;

            &:nth-child(2) {
              margin-bottom: 30px;
            }
          }

          .btn {
            font-size: 20px;
            line-height: 24px;
            font-family: 'pf_beausans_probold';
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//==========================REASONS=============================
.section-reasons {

  .section-reasons-container {
    @include small-container;

    padding: 110px 0 120px 0;

    .section-reasons-header {
      margin-bottom: 98px;

      .section-reasons-title {
        font-size: 38px;
        line-height: 47px;
        font-family: 'pf_beausans_probold';
        color: $txt-color_2;
        margin: 0 0 14px 0;
        text-align: center;
      }

      .section-reasons-description {
        font-family: 'pf_beausans_probold';
        color: $txt-color_3;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
      }
    }

    .section-reasons-items {
      text-align: justify;
      font-size: 0;

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }

      .section-reasons-item {
        display: inline-block;
        vertical-align: top;
        width: 220px;

        .section-reasons-item-icon {
          width: 122px;
          height: 122px;
          border-radius: 61px;
          background-color: $reasons-item-bg-color;
          margin: 0 auto 26px auto;
          position: relative;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .section-reasons-item-text {
          margin: 0;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          color: $txt-color_3;
          font-family: 'pf_beausans_proregular';
        }
      }
    }
  }
}

//=============================Counter Clients=================
.section-counter-clients {
  background-image: url("../assets/img/counterLayer.jpg");
  background-size: cover;

  .section-counter-clients-container {
    @include small-container;

    position: relative;
    padding: 182px 0;

    .section-counter-clients-title {
      font-size: 38px;
      line-height: 47px;
      font-family: 'pf_beausans_probold';
      margin: 0 0 40px 0;
      width: 654px;
      color: $white;
      text-align: center;
    }

    .section-counter-clients-counter {
      padding: 40px 70px;
      background-color: $counter-bg-color;
      border: 2px dashed $counter-border-color;
      border-radius: 5px;
      text-align: center;
      display: inline-block;

      .counter-item {
        display: inline-block;
        width: 114px;
        height: 114px;
        background-color: $white;
        color: $counter-bg-color;
        font-size: 72px;
        line-height: 114px;
        text-align: center;
        margin: 0 6px 34px 6px;
      }

      .counter-description {
        font-size: 28px;
        font-family: 'pf_beausans_probold';
        color: $white;
        margin: 0;
      }
    }

    .section-counter-clients-feedback {
      border-radius: 5px;
      background-color: $white;
      width: 457px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: $default-box-shadow;

      .section-counter-clients-feedback-header {
        padding: 50px 50px 0 50px;

        .section-counter-clients-feedback-title {
          font-size: 26px;
          line-height: 30px;
          font-family: 'pf_beausans_prosemibold';
          text-align: center;
          color: $txt-color_3;
          margin: 0 0 8px 0;
        }

        .section-counter-clients-feedback-description {
          font-size: 18px;
          font-family: 'pf_beausans_proregular';
          text-align: center;
          color: $txt-color_3;
          margin: 0;
        }
      }

      form {
        padding: 50px 70px;

        .form-group {
          margin-bottom: 26px;

          &:nth-child(2) {
            margin-bottom: 36px;
          }

          label {
            display: block;
            margin: 0 0 7px 0;
          }
        }

        .btn {
          display: block;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
  }
}

//=============================COMMENTS=========================
.section-comments {
  background-color: $comments-bg-color;

  .section-comments-container {
    @include small-container;

    padding: 100px 0;

    .section-comments-header {
      margin: 0 0 70px 0;
      text-align: center;

      .section-comments-title {
        font-size: 38px;
        line-height: 42px;
        color: $footer-bg-color;
        margin: 0 0 27px 0;
      }

      .section-comments-description {
        font-size: 20px;
        color: $footer-bg-color;
        font-family: 'pf_beausans_proregular';
        margin: 0;

        span {
          font-weight: $font-bold;
        }
      }
    }

    .comments-carusel-wrapper {
      position: relative;
      padding: 0 20px;

      .comments-carusel {

        .comments-carusel-item {
          width: 246px;
          height: 326px;
          background-color: $white;
          box-shadow: $default-box-shadow;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .comments-prev-control {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 2;
      }

      .comments-next-control {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 2;
      }
    }
  }
}

//=============================PARTNERS==========================
.section-partners {

  .section-partners-container {
    @include small-container;

    padding: 90px 0;

    .section-partners-title {
      font-size: 24px;
      line-height: 36px;
      font-family: 'pf_beausans_proregular';
      text-align: center;
      margin: 0 0 86px 0;
      color: $txt-color_3;
    }

    .partners-carusel-wrapper {
      position: relative;
      margin-bottom: 60px;
      padding: 0 40px;

      .partners-carusel {

        .partners-carusel-item {
          height: 80px;
          padding: 20px 30px;
          border-right: 2px solid $counter-border-color;

          img {
            height: 100%;
          }
        }
      }

      .partners-prev-control {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 2;
      }

      .partners-next-control {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 2;
      }
    }

    .section-partners-btn {
      display: block;
      margin: 0 auto;
    }
  }
}

//========================MAP====================================
.section-contacts-map {
  position: relative;

  .section-contacts-container {
    @include small-container;

    .section-contacts-map-feedback {
      width: 546px;
      box-shadow: $default-box-shadow;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-color: $white;

      .feedback-title {
        font-size: 26px;
        line-height: 30px;
        font-family: 'pf_beausans_prosemibold';
        text-align: center;
        padding: 60px 56px 0 56px;
        margin: 0;
        color: $txt-color_3;
      }

      form {
        padding: 50px 77px 50px 77px;

        .form-group {
          margin-bottom: 20px;

          &:nth-child(3) {
            margin-bottom: 44px;
          }

          label {
            display: block;
            margin: 0 0 7px 0;
          }
        }

        .btn {
          display: block;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
  }

  #contacts-map {
    width: 100%;
    height: 723px;
  }
}

//==============================================================
footer {
  height: 65px;
  width: 100%;
  background-color: $footer-bg-color;

  .footer-container {
    @include big-container;

    padding: 21px 0;

    &:after {
      content: '';
      clear: both;
      display: block;
      width: 100%;
    }

    .developers-copyright {
      float: right;
      width: 50%;
      line-height: 24px;
      font-size: 16px;
      font-family: 'pf_beausans_proregular';
      color: $white;
      text-align: right;
      font-style: normal;
    }

    .customer-copyright {
      float: left;
      width: 50%;
      line-height: 24px;
      font-size: 16px;
      font-family: 'pf_beausans_proregular';
      color: $white;
      font-style: normal;
    }
  }
}

//===================== C O M M O N =============================
.btn {
  font-family: 'pf_beausans_probold';
  background-color: $button-color;
  border-radius: 4px;
  outline: none;
  border: none;
  color: $white;
  padding: 10px 20px;
  box-shadow: $default-box-shadow;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: $hovered-button-color;
  }
}

.form-group {
  width: 100%;

  label {
    font-size: 16px;
    font-family: 'pf_beausans_proregular';
  }
}

.form-control {
  width: 100%;
  height: 40px;
  background-color: $input-bg-color;
  border: 2px solid $counter-border-color;
  padding: 0 10px;
}

.form-textarea {
  width: 100%;
  background-color: $input-bg-color;
  border: 2px solid $counter-border-color;
  padding: 0 10px;
}

.remodal {

  form {
    text-align: left;

    .form-group {
      margin-bottom: 25px;

      &:nth-child(2) {
        margin-bottom: 35px;
      }

      label {
        display: block;
        margin: 0 0 7px 0;
      }
    }

    .btn {
      display: block;
      margin: 0 auto;
      font-size: 20px;
    }
  }
}