@import url(./normalize.css);
@import url(../assets/fonts/stylesheet.css);
header {
  width: 100%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13); }
  header nav {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    position: relative;
    height: 60px;
    background-color: #fff; }
    header nav .main-logo {
      text-decoration: none;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    header nav .main-menu {
      font-size: 0;
      text-align: justify;
      margin: 0 390px 0 auto;
      padding: 0;
      width: 530px; }
      header nav .main-menu:after {
        content: '';
        display: inline-block;
        width: 100%; }
      header nav .main-menu .main-menu-item {
        display: inline-block;
        line-height: 60px;
        height: 60px; }
        header nav .main-menu .main-menu-item a {
          display: block;
          padding: 0 10px;
          text-decoration: none;
          font-size: 15px;
          font-family: 'pf_beausans_proregular';
          color: #303c53; }
          header nav .main-menu .main-menu-item a:hover {
            color: #080810; }
    header nav .btn-nav-order-call {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      font-family: 'pf_beausans_probold'; }
    header nav .nav-phone-block {
      right: 192px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      header nav .nav-phone-block .nav-phone-block-phone {
        font-size: 18px;
        font-family: 'pf_beausans_probold';
        font-weight: 700;
        margin: 0 0 7px 0; }
      header nav .nav-phone-block .nav-phone-block-city {
        font-size: 14px;
        font-family: 'pf_beausans_proregular';
        margin: 0;
        color: #303c53;
        text-align: center; }
  @media screen and (max-width: 1460px) {
    header {
      padding: 0 40px; } }
  @media screen and (max-width: 1024px) {
    header {
      padding: 0 20px; }
      header nav .main-menu {
        display: none; } }
  @media screen and (max-width: 480px) {
    header nav .main-logo img {
      width: 100px; }
    header nav .nav-phone-block {
      display: none; }
    header nav .btn-nav-order-call {
      font-size: 14px; } }

.section-main {
  width: 100%;
  background-image: url("../assets/img/main.jpg");
  background-size: cover; }
  .section-main .section-main-container {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    height: 828px;
    position: relative; }
    .section-main .section-main-container .main-info-block {
      width: 676px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      .section-main .section-main-container .main-info-block .main-title {
        font-family: 'pf_beausans_probold';
        color: #303b53;
        font-size: 36px;
        text-align: center;
        margin: 0 0 60px 0; }
      .section-main .section-main-container .main-info-block .main-info-block-options {
        font-size: 0;
        text-align: justify;
        margin-bottom: 68px; }
        .section-main .section-main-container .main-info-block .main-info-block-options:after {
          content: '';
          display: inline-block;
          width: 100%; }
        .section-main .section-main-container .main-info-block .main-info-block-options .main-info-block-option {
          display: inline-block;
          width: 222px;
          height: 100px; }
          .section-main .section-main-container .main-info-block .main-info-block-options .main-info-block-option .main-info-block-option-image {
            display: block;
            margin: 0 auto 12px auto; }
          .section-main .section-main-container .main-info-block .main-info-block-options .main-info-block-option .main-info-block-option-description {
            font-size: 18px;
            line-height: 25px;
            font-family: 'pf_beausans_proregular';
            color: #303b53;
            text-align: center;
            margin: 0; }
      .section-main .section-main-container .main-info-block .main-info-block-feedback {
        width: 370px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
        border-radius: 0 0 5px 5px; }
        .section-main .section-main-container .main-info-block .main-info-block-feedback .main-info-block-feedback-title {
          font-size: 24px;
          line-height: 30px;
          font-family: 'pf_beausans_prosemibold';
          margin: 0;
          padding: 20px;
          color: #fff;
          text-align: center;
          border-radius: 5px 5px 0 0;
          background-image: url("../assets/img/FormsBg.jpg"); }
        .section-main .section-main-container .main-info-block .main-info-block-feedback form {
          padding: 35px 48px 40px 48px; }
          .section-main .section-main-container .main-info-block .main-info-block-feedback form .form-group {
            margin-bottom: 25px; }
            .section-main .section-main-container .main-info-block .main-info-block-feedback form .form-group:nth-child(2) {
              margin-bottom: 30px; }
          .section-main .section-main-container .main-info-block .main-info-block-feedback form .btn {
            font-size: 20px;
            line-height: 24px;
            font-family: 'pf_beausans_probold';
            display: block;
            margin: 0 auto; }
  @media screen and (max-width: 1460px) {
    .section-main {
      background-position: -200px; } }
  @media screen and (max-width: 1024px) {
    .section-main {
      background-image: none;
      background-color: #e3e3e6; }
      .section-main .section-main-container {
        height: auto;
        padding: 60px 0 90px 0; }
        .section-main .section-main-container .main-info-block {
          position: static;
          margin: 0 auto;
          transform: none; }
          .section-main .section-main-container .main-info-block .main-title {
            font-size: 30px;
            margin: 0 0 40px 0; } }
  @media screen and (max-width: 768px) {
    .section-main .section-main-container {
      padding: 40px 0 50px 0; }
      .section-main .section-main-container .main-info-block {
        width: auto; }
        .section-main .section-main-container .main-info-block .main-info-block-options {
          display: none; } }
  @media screen and (max-width: 480px) {
    .section-main .section-main-container {
      padding: 40px 0 50px 0; }
      .section-main .section-main-container .main-info-block {
        width: auto; }
        .section-main .section-main-container .main-info-block .main-title {
          font-size: 25px; }
        .section-main .section-main-container .main-info-block .main-info-block-options {
          display: none; }
        .section-main .section-main-container .main-info-block .main-info-block-feedback {
          width: 290px; }
          .section-main .section-main-container .main-info-block .main-info-block-feedback form {
            padding: 35px 30px 40px 30px; } }

.section-reasons .section-reasons-container {
  width: 100%;
  max-width: 1267px;
  margin: 0 auto;
  padding: 110px 0 120px 0; }
  .section-reasons .section-reasons-container .section-reasons-header {
    margin-bottom: 98px; }
    .section-reasons .section-reasons-container .section-reasons-header .section-reasons-title {
      font-size: 38px;
      line-height: 47px;
      font-family: 'pf_beausans_probold';
      color: #101010;
      margin: 0 0 14px 0;
      text-align: center; }
    .section-reasons .section-reasons-container .section-reasons-header .section-reasons-description {
      font-family: 'pf_beausans_probold';
      color: #4f555e;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      margin: 0; }
  .section-reasons .section-reasons-container .section-reasons-items {
    text-align: justify;
    font-size: 0; }
    .section-reasons .section-reasons-container .section-reasons-items:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item {
      display: inline-block;
      vertical-align: top;
      width: 220px; }
      .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item .section-reasons-item-icon {
        width: 122px;
        height: 122px;
        border-radius: 61px;
        background-color: #eeeff1;
        margin: 0 auto 26px auto;
        position: relative; }
        .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item .section-reasons-item-icon img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item .section-reasons-item-text {
        margin: 0;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #4f555e;
        font-family: 'pf_beausans_proregular'; }
@media screen and (max-width: 1024px) {
  .section-reasons .section-reasons-container {
    padding: 80px 20px 90px 20px; }
    .section-reasons .section-reasons-container .section-reasons-header {
      margin-bottom: 50px; }
      .section-reasons .section-reasons-container .section-reasons-header .section-reasons-title {
        font-size: 32px; }
    .section-reasons .section-reasons-container .section-reasons-items {
      text-align: center; }
      .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item {
        margin: 15px; } }
@media screen and (max-width: 768px) {
  .section-reasons .section-reasons-container {
    padding: 60px 10px 70px 10px; }
    .section-reasons .section-reasons-container .section-reasons-header {
      margin-bottom: 40px; }
      .section-reasons .section-reasons-container .section-reasons-header .section-reasons-title {
        font-size: 30px;
        line-height: normal; }
    .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item {
      margin: 10px;
      width: 195px; } }
@media screen and (max-width: 480px) {
  .section-reasons .section-reasons-container {
    padding: 50px 20px 60px 20px; }
    .section-reasons .section-reasons-container .section-reasons-header {
      margin-bottom: 40px; }
      .section-reasons .section-reasons-container .section-reasons-header .section-reasons-title {
        font-size: 26px; }
    .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 0 20px 0; }
      .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item:last-child {
        margin-bottom: 0; }
      .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item .section-reasons-item-icon {
        margin: 0;
        flex: none;
        margin-right: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50px; }
        .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item .section-reasons-item-icon img {
          width: 40px; }
      .section-reasons .section-reasons-container .section-reasons-items .section-reasons-item .section-reasons-item-text {
        height: 50px; } }

.section-counter-clients {
  background-image: url("../assets/img/counterLayer.jpg");
  background-size: cover; }
  .section-counter-clients .section-counter-clients-container {
    width: 100%;
    max-width: 1267px;
    margin: 0 auto;
    position: relative;
    padding: 182px 0; }
    .section-counter-clients .section-counter-clients-container .section-counter-clients-title {
      font-size: 38px;
      line-height: 47px;
      font-family: 'pf_beausans_probold';
      margin: 0 0 40px 0;
      width: 654px;
      color: #fff;
      text-align: center; }
    .section-counter-clients .section-counter-clients-container .section-counter-clients-counter {
      padding: 40px 70px;
      background-color: #4f5d69;
      border: 2px dashed #cad0d4;
      border-radius: 5px;
      text-align: center;
      display: inline-block; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-counter .counter-item {
        display: inline-block;
        width: 114px;
        height: 114px;
        background-color: #fff;
        color: #4f5d69;
        font-size: 72px;
        line-height: 114px;
        text-align: center;
        margin: 0 6px 34px 6px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-counter .counter-description {
        font-size: 28px;
        font-family: 'pf_beausans_probold';
        color: #fff;
        margin: 0; }
    .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback {
      border-radius: 5px;
      background-color: #fff;
      width: 457px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13); }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header {
        padding: 50px 50px 0 50px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header .section-counter-clients-feedback-title {
          font-size: 26px;
          line-height: 30px;
          font-family: 'pf_beausans_prosemibold';
          text-align: center;
          color: #4f555e;
          margin: 0 0 8px 0; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header .section-counter-clients-feedback-description {
          font-size: 18px;
          font-family: 'pf_beausans_proregular';
          text-align: center;
          color: #4f555e;
          margin: 0; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form {
        padding: 50px 70px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form .form-group {
          margin-bottom: 26px; }
          .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form .form-group:nth-child(2) {
            margin-bottom: 36px; }
          .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form .form-group label {
            display: block;
            margin: 0 0 7px 0; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form .btn {
          display: block;
          margin: 0 auto;
          font-size: 20px; }
  @media screen and (max-width: 1024px) {
    .section-counter-clients .section-counter-clients-container {
      padding: 80px 20px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-title {
        font-size: 32px;
        width: auto; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-counter {
        width: 662px;
        display: block;
        margin: 0 auto 50px auto; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback {
        position: static;
        transform: none;
        margin: 0 auto; } }
  @media screen and (max-width: 768px) {
    .section-counter-clients .section-counter-clients-container {
      padding: 60px 20px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-counter {
        width: 100%;
        max-width: 450px;
        padding: 20px 30px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-counter .counter-item {
          width: 70px;
          height: 70px;
          line-height: 70px;
          font-size: 50px;
          margin: 0 6px 20px 6px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-counter .counter-description {
          font-size: 20px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback {
        width: 400px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header {
          padding: 30px 30px 0 30px; }
          .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header .section-counter-clients-feedback-title {
            font-size: 24px;
            line-height: 25px; }
          .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header .section-counter-clients-feedback-description {
            font-size: 16px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form {
          padding: 25px 50px; } }
  @media screen and (max-width: 480px) {
    .section-counter-clients .section-counter-clients-container .section-counter-clients-title {
      font-size: 27px;
      line-height: normal; }
    .section-counter-clients .section-counter-clients-container .section-counter-clients-counter {
      padding: 20px 20px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-counter .counter-item {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 37px; }
    .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback {
      width: 290px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header {
        padding: 30px 15px 0 15px; }
        .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback .section-counter-clients-feedback-header .section-counter-clients-feedback-title {
          font-size: 20px; }
      .section-counter-clients .section-counter-clients-container .section-counter-clients-feedback form {
        padding: 25px 30px; } }

.section-comments {
  background-color: #efeff2; }
  .section-comments .section-comments-container {
    width: 100%;
    max-width: 1267px;
    margin: 0 auto;
    padding: 100px 0; }
    .section-comments .section-comments-container .section-comments-header {
      margin: 0 0 70px 0;
      text-align: center; }
      .section-comments .section-comments-container .section-comments-header .section-comments-title {
        font-size: 38px;
        line-height: 42px;
        color: #626d79;
        margin: 0 0 27px 0; }
      .section-comments .section-comments-container .section-comments-header .section-comments-description {
        font-size: 20px;
        color: #626d79;
        font-family: 'pf_beausans_proregular';
        margin: 0; }
        .section-comments .section-comments-container .section-comments-header .section-comments-description span {
          font-weight: 700; }
    .section-comments .section-comments-container .comments-carusel-wrapper {
      position: relative;
      padding: 0 20px; }
      .section-comments .section-comments-container .comments-carusel-wrapper .comments-carusel .comments-carusel-item {
        display: block;
        text-decoration: none;
        width: 246px;
        height: 326px;
        background-color: #fff;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
        margin: 0 auto; }
        .section-comments .section-comments-container .comments-carusel-wrapper .comments-carusel .comments-carusel-item img {
          width: 100%;
          height: 100%; }
      .section-comments .section-comments-container .comments-carusel-wrapper .comments-prev-control {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 2; }
      .section-comments .section-comments-container .comments-carusel-wrapper .comments-next-control {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 2; }
  @media screen and (max-width: 1024px) {
    .section-comments .section-comments-container {
      padding: 80px 20px; }
      .section-comments .section-comments-container .section-comments-header {
        margin: 0 0 50px 0; }
        .section-comments .section-comments-container .section-comments-header .section-comments-title {
          font-size: 30px;
          margin: 0 0 15px 0;
          line-height: normal; } }
  @media screen and (max-width: 768px) {
    .section-comments .section-comments-container {
      padding: 60px 20px; }
      .section-comments .section-comments-container .section-comments-header {
        margin: 0 0 30px 0; }
        .section-comments .section-comments-container .section-comments-header .section-comments-title {
          font-size: 30px;
          margin: 0 0 15px 0;
          line-height: normal; } }

.section-partners .section-partners-container {
  width: 100%;
  max-width: 1267px;
  margin: 0 auto;
  padding: 90px 0; }
  .section-partners .section-partners-container .section-partners-title {
    font-size: 24px;
    line-height: 36px;
    font-family: 'pf_beausans_proregular';
    text-align: center;
    margin: 0 0 86px 0;
    color: #4f555e; }
  .section-partners .section-partners-container .partners-carusel-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0 40px; }
    .section-partners .section-partners-container .partners-carusel-wrapper .partners-carusel .partners-carusel-item {
      height: 80px;
      padding: 20px 30px;
      border-right: 2px solid #cad0d4;
      display: flex;
      align-items: center; }
    .section-partners .section-partners-container .partners-carusel-wrapper .partners-prev-control {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      z-index: 2; }
    .section-partners .section-partners-container .partners-carusel-wrapper .partners-next-control {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      z-index: 2; }
  .section-partners .section-partners-container .section-partners-btn {
    display: block;
    margin: 0 auto; }
@media screen and (max-width: 1024px) {
  .section-partners .section-partners-container {
    padding: 70px 0; }
    .section-partners .section-partners-container .section-partners-title {
      margin: 0 0 50px 0; } }
@media screen and (max-width: 768px) {
  .section-partners .section-partners-container {
    padding: 60px 20px; }
    .section-partners .section-partners-container .section-partners-title {
      margin: 0 0 30px 0; }
    .section-partners .section-partners-container .partners-carusel-wrapper .partners-carusel .partners-carusel-item {
      justify-content: center; }
      .section-partners .section-partners-container .partners-carusel-wrapper .partners-carusel .partners-carusel-item img {
        width: 200px; } }

.section-contacts-map {
  position: relative; }
  .section-contacts-map .section-contacts-container {
    width: 100%;
    max-width: 1267px;
    margin: 0 auto; }
    .section-contacts-map .section-contacts-container .section-contacts-map-feedback {
      width: 546px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
      border-radius: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-color: #fff; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback .feedback-title {
        font-size: 26px;
        line-height: 30px;
        font-family: 'pf_beausans_prosemibold';
        text-align: center;
        padding: 60px 56px 0 56px;
        margin: 0;
        color: #4f555e; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback form {
        padding: 50px 77px 50px 77px; }
        .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-group {
          margin-bottom: 20px; }
          .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-group:nth-child(3) {
            margin-bottom: 44px; }
          .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-group label {
            display: block;
            margin: 0 0 7px 0; }
        .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .btn {
          display: block;
          margin: 0 auto;
          font-size: 20px; }
  .section-contacts-map #contacts-map {
    width: 100%;
    height: 723px; }
  @media screen and (max-width: 1024px) {
    .section-contacts-map .section-contacts-container .section-contacts-map-feedback {
      left: 40px;
      top: 40px;
      width: 360px;
      transform: none; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback .feedback-title {
        padding: 30px 16px 0 16px;
        font-size: 24px; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback form {
        padding: 25px 40px 30px 40px; }
        .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-textarea {
          max-width: 100%; } }
  @media screen and (max-width: 768px) {
    .section-contacts-map .section-contacts-container .section-contacts-map-feedback {
      left: 50%;
      top: 40px;
      transform: translateX(-50%);
      width: 360px; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback .feedback-title {
        padding: 30px 16px 0 16px;
        font-size: 24px;
        line-height: 26px; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback form {
        padding: 20px 40px 30px 40px; }
        .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-group:nth-child(3) {
          margin-bottom: 30px; }
        .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-group .form-control {
          height: 30px; }
        .section-contacts-map .section-contacts-container .section-contacts-map-feedback form .form-textarea {
          height: 100px; }
    .section-contacts-map #contacts-map {
      height: 800px; } }
  @media screen and (max-width: 480px) {
    .section-contacts-map .section-contacts-container .section-contacts-map-feedback {
      width: 280px; }
      .section-contacts-map .section-contacts-container .section-contacts-map-feedback form {
        padding: 20px 25px 30px 25px; } }

footer {
  height: 66px;
  width: 100%;
  background-color: #626d79; }
  footer .footer-container {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding: 21px 0; }
    footer .footer-container:after {
      content: '';
      clear: both;
      display: block;
      width: 100%; }
    footer .footer-container .developers-copyright {
      float: right;
      width: 50%;
      line-height: 24px;
      font-size: 16px;
      font-family: 'pf_beausans_proregular';
      color: #fff;
      text-align: right;
      font-style: normal; }
    footer .footer-container .customer-copyright {
      float: left;
      width: 50%;
      line-height: 24px;
      font-size: 16px;
      font-family: 'pf_beausans_proregular';
      color: #fff;
      font-style: normal; }
  @media screen and (max-width: 768px) {
    footer {
      height: auto; }
      footer .footer-container {
        padding: 21px 10px; }
        footer .footer-container .developers-copyright {
          float: none;
          width: 100%;
          text-align: center; }
        footer .footer-container .customer-copyright {
          float: none;
          width: 100%;
          text-align: center;
          margin: 0 0 10px 0; } }

.btn {
  font-family: 'pf_beausans_probold';
  background-color: #ff4031;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  transition: all 0.5s ease; }
  .btn:hover {
    background-color: #d43629; }

.form-group {
  width: 100%; }
  .form-group label {
    font-size: 16px;
    font-family: 'pf_beausans_proregular'; }

.form-control {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border: 2px solid #cad0d4;
  padding: 0 10px; }

.form-textarea {
  width: 100%;
  height: 112px;
  max-height: 112px;
  max-width: 391px;
  background-color: #f0f0f0;
  border: 2px solid #cad0d4;
  padding: 10px; }

.remodal form {
  text-align: left; }
  .remodal form .form-group {
    margin-bottom: 25px; }
    .remodal form .form-group:nth-child(2) {
      margin-bottom: 35px; }
    .remodal form .form-group label {
      display: block;
      margin: 0 0 7px 0; }
  .remodal form .btn {
    display: block;
    margin: 0 auto;
    font-size: 20px; }

/*# sourceMappingURL=main.css.map */
